# Environnement virtuel
venv/
env/
ENV/

# Fichiers compilés Python
*.pyc
_pycache_/

# Base de données locale SQLite (pour ne pas écraser celle de prod)
*.sqlite3
db.sqlite3

# Fichiers statiques générés
staticfiles/

# Variables d'environnement / Clés secrètes
.env

# Fichiers système
.DS_Store
Thumbs.db